  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  * {
      padding: 0;
      margin: 0;
      border: none;

      font-family: 'Roboto', sans-serif;
  }

  .upper-header {
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: black;
      color: white;

      padding: 0 30px;
  }

  .left-upper-header {
      display: flex;
      align-items: center;

      gap: 20px;
  }

  .left-upper-header div {
      display: flex;
      align-items: center;
      gap: 5px;
  }

  .right-upper-header {
      display: flex;
      gap: 10px;
  }

  .lower-header {
      height: 80px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
  }

  .lower-header img {
      height: 50px;
  }

  .lower-header nav {
      display: flex;
      gap: 50px;
  }


  /* CONTENT */

  .container {
      width: 100vw;
      height: calc(100vh - 40px - 80px);
      display: flex;
      justify-content: end;
      align-items: center;

      background-image: url("./foto-1-destaque-g1-unifor-design-grafico-e-digital.webp");
      background-size: cover;

  }

  .content-parent {
      width: 750px;
      height: 500px;

      background-color: rgba(218, 218, 0, 0.8);

      display: flex;
      align-items: center;
      justify-content: center;

  }

  .content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 500px;
  }

  .content h1 span {
      color: white;
  }

  .content button {
      width: 200px;
      height: 40px;

      background-color: red;
      color: white;
      transition: 0.3s;
  }

  .container button:hover {
      border: solid 2px black;
  }